# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

VITE_SUPABASE_URL=https://kffhtmlqhnqiqmwoakhi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmZmh0bWxxaG5xaXFtd29ha2hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc0OTU3ODgsImV4cCI6MjA2MzA3MTc4OH0.SeqN8bHcU4OKbOs-4C-bmZf66plU4JSw9edgzZLiXZc
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmZmh0bWxxaG5xaXFtd29ha2hpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzQ5NTc4OCwiZXhwIjoyMDYzMDcxNzg4fQ.93X46J8XBi6Xl3t2DgnG1E3LnKXXSPHbe4g9Zt2fY5g
